# Environment variables Let's keep secrets local
.env

# Virtual environment and python cache
.venv/
__pycache__/
*.pyc
.pytest_cache/

# JS/Frontend deps
node_modules/
dist/
.DS_Store

# Output folders with heavy files and login sessions!
output/
ig_session/
ig_debug/
jobs/

# Agent/AI data
.agents/
out.txt
error.txt
.playwright/

# Custom Additions
.venv310/
.temp/
models/

